:root {
  --body-font:
    Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif,
    Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --body-bg: #fdfcf8;
  --black: #1a1a1a;
  --red: #a30015;
  --blue: #3d5a80;
  --black-alternate: #555;
  --white: #fff;
  --shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--body-bg);
  font-family: var(--body-font);
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  color: var(--black);
  font-size: 2.5rem;
}

.add-button {
  border: none;
  background-color: var(--black);
  color: var(--white);
  border-radius: 4px;
  padding: 0.875rem 1.75rem;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.add-button:hover {
  transform: translateY(-0.125rem);
}

.add-button:active {
  opacity: 0.7;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.book-shelf {
  width: 100%;
  max-width: 700px;
  padding: 1.25rem;
  margin-top: 3.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-auto-rows: max-content;
  gap: 0.625rem;
}

.book {
  color: var(--black-alternate);
  background-color: var(--white);
  height: 12.5rem;
  border-radius: 8px;
  border: 1px solid #eee;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
}

.book__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.book__actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.book__status {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.book__status > input {
  cursor: inherit;
}

.book__remove {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--red);
  color: var(--white);
  transition: all 0.2s ease;
}

.book__remove:hover {
  transform: translateY(-0.125rem);
}

.book__remove:active {
  opacity: 0.7;
}

.footer {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
}

.footer-logo {
  margin-left: 0.625rem;
  width: 1.625rem;
  height: 1.625rem;
  transition: transform 0.3s linear;
  cursor: pointer;
}

.footer-logo:hover {
  transform: rotate(360deg);
}

.modal {
  padding: 1.25rem;
  border: 1px solid #eee;
  width: 280px;
  height: 280px;
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.modal__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal__actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__checkbox {
  display: flex;
}

.modal__button {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.modal__button:hover {
  transform: translateY(-0.125rem);
}

.modal__button:active {
  opacity: 0.7;
}

.modal label {
  display: block;
}

.modal input[type="text"] {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
}
